<!--<pre>{{ pollData | json}}</pre>-->

<div class="container">	

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h2 class="text-center text-primary">Your Current Polls</h2>		

			<div class="list-group poll-list">
				<div *ngFor="let poll of polls" class="list-group-item row">
					<div class="col-md-10">
						<span class="poll-name">{{ poll.name }}</span>
					</div>
					<div class="col-md-2">
						<span class="edit-poll">
							<span (click)="viewPoll(poll._id)" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
						</span>
						<span class="delete-poll" (click)="deletePoll(poll._id)">
							<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h2 class="text-center">Create a New Poll</h2>

		<div class="col-sm-6 col-sm-offset-3">
			<form (ngSubmit)='createPoll()'>
				<div class="form-group">
					<input type="text" class="form-control input-lg" placeholder='Name for this poll' [(ngModel)]="pollData.name" [ngModelOptions]="{standalone: true}" required>
					<br>
					<div *ngFor="let option of pollData.options">
						<input type="text" [(ngModel)]="option.text" [ngModelOptions]="{standalone: true}" placeholder="new option"/>
					</div>					
				</div>

				<div class="form-group text-center">
					<br>
					<input class="btn btn-default btn-lg" type="button" (click)="addPollOption()" value="Add Poll Option">
          			<br>
          			<br>
          			<input type="submit" class="btn btn-success btn-lg" value="Save">
				</div>
			</form>
		</div>
	</div>

</div>